@import './media.scss';

.containerContactUs{
    width: 100%;
    // height: 40vh;
    max-width: 1200px;
    padding:30px;
    margin: 10px auto;
    font-family: 'Work Sans', sans-serif;
    margin-top: 2%;

    .title{
        font-family: 'Work Sans', sans-serif;  
        font-size: 25px;
    }

    li{
        font-size: 20px;
    }

    .phoneMenager strong,
    .emailContactUs strong,
    .HomeAdres strong,
    .worksDay strong{
        font-family: 'Work Sans', sans-serif;
        font-size: 20px;
    }

    .phoneMenager ,
    .emailContactUs ,
    .HomeAdres,
    .worksDay{
        margin-top: 2%;

    }

    .mapContactUs{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: auto;
    }
}
