@import '../media.scss';

.sectionContainer{
    display: flex;
    flex-direction: column;
    .image{
        width: 100%;
        height: auto;
    }

    .fullscreenContainer{
        position: fixed;
        top: 0; 
        right: 0; 
        bottom: 0;
        left: 0;
        z-index: 100;
        background-color: #000000c2;
        .image{
            width: 65%;
            height: auto;
            margin: 0 auto;
            @include lg { width: 100% }
        }
        .SliderProductCustomDots{
            display: none;
        }
    }
}

.SliderProductCustomDots{
    position: initial;
    margin-top: 5px;
    @include md {flex-wrap: wrap;}
    button{
        margin: 3px;
    }
}
